*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

.create-container {
  margin-top: 150px;
}

.label {
  margin-top: 80px;
  color: #6a4029;
}

.btn-create {
  padding-top: 15px;
  width: 50px;
  border-radius: 100%;
  background-color: #bababa59;
  color: black;
  font-weight: bold;
}

.font-size-gram {
  border-radius: 100%;
  font-size: 15px;
  font-weight: normal;
  background-color: #bababa59;
}

.cursor-image-products {
  cursor: pointer;
}
