*,
::after,
::before {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.form-container-create {
  margin-top: 150px;
  margin-bottom: 100px;
}

.cursor-image-products {
  cursor: pointer;
  background-color: #bababa59;
}

input[type="time"],
input[type="number"],
input[type="text"] {
  background: #fff;
  border: 1.5px solid #464646;
}

.start-hour[type="time"]:before {
  content: "Select start hour : ";
  color: #9d9d9d;
  position: absolute;
  background: #fff;
}

.end-hour[type="time"]:before {
  content: "Select end hour : ";
  color: #9d9d9d;
  position: absolute;
  background: #fff;
}

input[type="time"]:hover:before {
  content: "";
}
