*,
::after,
::before {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.form-container-create {
  margin-top: 150px;
  margin-bottom: 100px;
}

.cursor-image-products {
  cursor: pointer;
  background-color: #bababa59;
  width: 150px;
  position: relative;
  left: 60px;
}

/* input[type="time"],
input[type="number"],
input[type="text"] {
  background: #fff;
  border: 1.5px solid #464646;
} */

input[type="time"]:hover:before {
  content: "";
}
