*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-content {
  background-image: url(../../assets/img/header-home.png);
  width: 100%;
  height: 645px;
}

.title-header {
  font-size: 50px;
  margin-top: 100px;
}

.desc-header {
  font-size: 20px;
  margin: 30px 0;
}
.btn-started {
  padding: 10px 80px;
  border-radius: 10px;
}

.prev-image {
  width: 80px;
}

.image-info {
  width: 55px;
  height: 55px;
}

.card-company-info {
  margin-top: -170px;
}

.check-promo {
  position: relative;
}

.team-work-pict {
  width: 100%;
}

.map-image {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .info-coffe-shop {
    margin-top: -200px;
    border: none;
  }
  .card-company-info {
    margin-top: -170px;
  }
}
