@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
*,
::after,
::before {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.checked-delivery-methods input[type="radio"]:checked + label {
  border: none;
  color: white;
  background-color: #6a4029;
  font-weight: bold;
}

.main-product-detail {
  height: 1100px;
  width: 100%;
  background-color: #d9dcdd;
  border: 1px solid #d9dcdd;
}
.card-body {
  color: #6a4029;
}

.link-product-detail {
  font-size: 20px;
  margin-top: 100px;
}

.link-product-detail:hover {
  font-weight: bold;
}

.image-product-detail {
  margin-top: 100px;
}

.title-product-detail {
  font-size: 60px;
  font-weight: 900;
}

.price-product-detail {
  font-size: 35px;
  font-weight: 500;
}

.btn-choco {
  color: white;
  font-weight: bold;
  background-color: #6a4029;
}

.btn-warning {
  color: #6a4029;
  font-weight: bold;
}

.size-product {
  width: 100%;
}

.btn-outline-order {
  border: 1px solid #9f9f9f;
  color: #9f9f9f;
}

.btn-outline-order:hover {
  border: none;
  color: white;
  background-color: #6a4029;
  font-weight: bold;
}

.btn-outline-order:active {
  border: none;
  color: white;
  background-color: #6a4029;
  font-weight: bold;
}

.btn-outline-order:visited {
  border: none;
  color: white;
  background-color: #6a4029;
  font-weight: bold;
}

.form-control {
  background-color: #6a402900;
  border-bottom: 1px solid #9f9f9f;
}

.card-payment {
  margin-top: 50px;
}

.img-cart {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .image-product-detail {
    margin-top: 50px;
    width: 50%;
  }
  .btn-outline-order {
    border: 1px solid #9f9f9f;
    color: #9f9f9f;
  }
  .title-product-detail {
    font-size: 20px;
    font-weight: 900;
  }
  .card-payment-cart {
    width: 100%;
  }
  .img-cart {
    width: 50%;
  }
  .card-col-cart {
    width: 50%;
  }
}
