@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.card-products > img {
  width: 100px;
}

.card-products {
  border-radius: 25px;
  width: 130px;
  box-shadow: 5px 15px 10px 5px rgba(0, 0, 0, 0.062);
  height: 80%;
}

.card-img-top {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.btn-choco:visited {
  font-weight: bold;
  background-color: #6a4029;
  color: white;
}

.btn-edit {
  position: relative;
  left: 60px;
  top: -10px;
  z-index: 1;
  background-color: #6a4029;
  color: white;
  font-size: 15px;
  height: 40px;
  width: 40px;
  /* padding: 10px; */
}

.btn-edit:hover {
  font-weight: bold;
  background-color: #6a4029;
  color: white;
}

.card-price {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #6a4029;
}

.card-product-title {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.badge-position {
  top: 50px;
  left: 100px;
}
.btn-products-card {
  border: none;
  background-color: #6a402900;
  cursor: pointer;
  /* height: 400px; */
}
.btn-products-card:link {
  border: none;
}

.btn-products-card:hover {
  border: none;
}
.btn-products-card:visited {
  border: none;
}
.btn-products-card:active {
  border: none;
}
