*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
  .button-search-navbar {
    position: relative;
    left: 45px;
    bottom: 2px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .img-button-navbar {
    width: 20px;
    height: 20px;
  }

  .button-search-navbar:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .button-search-navbar:active {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}
